# Python for Engineering Analysis

By

**Olagoke Oladokun**  
**Bemgba Bevan Nyakuma**  
**Arshad Ahmad**

---

# Data Manipulation


Install the following packages into your python environment.

1. numpy
2. xlrd
3. pandas
4. scipy
5. matplotlib

In [1]:
%pip install numpy xlrd pandas scipy matplotlib

Requirement already satisfied: numpy in c:\sdks\python38-32\lib\site-packages (1.18.3)
Requirement already satisfied: xlrd in c:\sdks\python38-32\lib\site-packages (1.2.0)
Requirement already satisfied: pandas in c:\sdks\python38-32\lib\site-packages (1.0.3)
Requirement already satisfied: scipy in c:\sdks\python38-32\lib\site-packages (1.4.1)
Requirement already satisfied: matplotlib in c:\sdks\python38-32\lib\site-packages (3.2.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\sdks\python38-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\sdks\python38-32\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: cycler>=0.10 in c:\sdks\python38-32\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\sdks\python38-32\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\sdks\python38-32\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\sdks\python38-32\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1.1; however, version 20.2.1 is available.
You should consider upgrading via the 'C:\sdks\Python38-32\python.exe -m pip install --upgrade pip' command.


## Convert Data to CSV File


## Read Data File


Use *panda* module to load the csv data files into a *DataFrame* variable.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_ultimate = pd.read_csv('ultimate.csv')


In jupyter lab or notebook display variable values by typing the variable name on a row

In [3]:
df_ultimate

  Properties Symbol  I. cylindrica  Switchgrass  Miscanthus Biomass range
0     Carbon      C          43.19        43.40       49.20         42-71
1   Hydrogen      H           5.92         6.10        6.00          3-11
2   Nitrogen      N           0.59         0.70        0.40        0.1-12
3    Sulphur      S           0.14         0.11        0.15      0.01-2.3
4     Oxygen      O          50.17        43.40       44.20          4-36


However, in real python file a variable name on a row will not work. The method to display the value in a variable is to use the *print* function

In [4]:
print(df_ultimate)

  Properties Symbol  I. cylindrica  Switchgrass  Miscanthus Biomass range
0     Carbon      C          43.19        43.40       49.20         42-71
1   Hydrogen      H           5.92         6.10        6.00          3-11
2   Nitrogen      N           0.59         0.70        0.40        0.1-12
3    Sulphur      S           0.14         0.11        0.15      0.01-2.3
4     Oxygen      O          50.17        43.40       44.20          4-36


## Data Selection

The *DataFrame* variable represent data in table format same representation with the csv file, with slight difference of indexing each row in our case with number.

To get a column such as for the *I. cylindrica*.

### Use the name of the column in []

In [5]:
df_ultimate['I. cylindrica']

0    43.19
1     5.92
2     0.59
3     0.14
4    50.17
Name: I. cylindrica, dtype: float64

### Use the *.loc* for selection by slicing a label with [row, col] syntax.

In [6]:
df_ultimate.loc[:,['I. cylindrica']]

   I. cylindrica
0          43.19
1           5.92
2           0.59
3           0.14
4          50.17

Note that the ":" in the [:, ['column-label']] represent all rows. Or range of rows could be selected using there index name.

In [7]:
df_ultimate.loc[2:3,['I. cylindrica']]

   I. cylindrica
2           0.59
3           0.14

### Selecting multiple rows and columns is posible with the label selection syntax.

In [8]:
df_ultimate.loc[2:,['I. cylindrica','Symbol','Miscanthus']]

   I. cylindrica Symbol  Miscanthus
2           0.59      N        0.40
3           0.14      S        0.15
4          50.17      O       44.20

Omiting the slicing endpoint select to the end. Similarly, omiting the beginpoint of the slicing select from the row start.

In [9]:
df_ultimate.loc[:3,['Symbol','Miscanthus','I. cylindrica']]

  Symbol  Miscanthus  I. cylindrica
0      C       49.20          43.19
1      H        6.00           5.92
2      N        0.40           0.59
3      S        0.15           0.14

### Select by position slicing using *.iloc*, [row_index_slice, column_index_slice]. Let's select the *I. cylindrica* again but this time by position.

In [10]:
df_ultimate.iloc[:,2]

0    43.19
1     5.92
2     0.59
3     0.14
4    50.17
Name: I. cylindrica, dtype: float64

### Selecting range of rows for the *I. cylindrica* column at position 2.

In [11]:
df_ultimate.iloc[2:3, 2]

2    0.59
Name: I. cylindrica, dtype: float64

```
Note that unlike the selection by label where the above code included label "3" row thereby resulting in twos rows returned. The selection by location exclude the end index in the slice.
Therefore to achieve similar result the end index should be greater by one.
```

In [12]:
df_ultimate.iloc[2:4, 2]

2    0.59
3    0.14
Name: I. cylindrica, dtype: float64

### Multiple rows and columns selection by position is achieved by specifying specifing rows and columns index slice.

In [13]:
df_ultimate.iloc[2:,1:4]

  Symbol  I. cylindrica  Switchgrass
2      N           0.59         0.70
3      S           0.14         0.11
4      O          50.17        43.40

### Getting a specific value.


For example Carbon value for Switchgrass

In [14]:
df_ultimate.at[0,'Switchgrass']

43.4

In [15]:
df_ultimate.iat[0,3]

43.4

### What happens if selection index and label are out of range. 

Such as selecting row or label 6 for Switchgrass

In [16]:
df_ultimate.at[6,'Switchgrass']

KeyError: 6

## Make Selection By label Friendly

The index or label of each row where automatical assigned using number. This means we must remember the number label of the row we want to select just like selection by position. The ideal of row label defeat the selection by label.

What of if we can assign a friendly name to each row such as the Symbol column value.

Original

In [ ]:
df_ultimate

New

In [ ]:
df_ultimate_sym = df_ultimate.set_index('Symbol')

In [ ]:
df_ultimate_sym

Comparing the new DataFrame with Symbol index label makes selection by position fun and easier.

In [ ]:
df_H = df_ultimate_sym.reindex(['H'])

In [ ]:
df_H

In [ ]:
df_H_O = df_ultimate_sym.reindex(['H','O'],columns=['Miscanthus','I. cylindrica'])

In [ ]:
df_H_O

## Data Manipulation

Displaying the ultimate analysis data again

In [ ]:
df_ultimate

### Find Sum

Get the column or row you want to sum. Note the values in the column must be numbers.

In [ ]:
df_icyl = df_ultimate['I. cylindrica']

In [ ]:
df_icyl

In [ ]:
sum_icyl = sum(df_icyl)

In [ ]:
sum_icyl

Get the columns or rows you want to sum. Note the values in the columns or rows must be numbers.

In [ ]:
df_ism = df_ultimate.loc[:,['I. cylindrica','Switchgrass','Miscanthus']]

In [ ]:
df_ism

In [ ]:
df_ism_sum = df_ism.sum()

In [ ]:
df_ism_sum

By default the DataFrame sum by the row axis=0 or down the table. Therefore the results is by each column.

If there is need to sum the rows add axis=1 parameter to the sum function.

In [ ]:
df_ism_sum_by_row = df_ism.sum(axis=1)

In [ ]:
df_ism_sum_by_row

Sometime, you just feel adventurous just find the sum of the entire table.

In [ ]:
df_ultimate_sum = df_ultimate.sum()

In [ ]:
df_ultimate_sum

In [ ]:
df_ultimate_sum_by_row = df_ultimate.sum(axis=1)

In [ ]:
df_ultimate_sum_by_row

Let of work with the Symbol index label DataFrame

In [ ]:
df_ultimate_sym_sum = df_ultimate_sym.sum()

In [ ]:
df_ultimate_sym_sum

In [ ]:
df_ultimate_sym_sum['Miscanthus']

In [ ]:
df_ultimate_sym_sum_by_row = df_ultimate_sym.sum(axis=1)

In [ ]:
df_ultimate_sym_sum_by_row

In [ ]:
df_ultimate_sym_sum_by_row['C']

### Add New Column and Row

After the manipulation you likely want to keep the result. For example appending a total row and column.

In [ ]:
df_ultimate

Append the df_ultimate_sum to the df_ultimate table row.

In [ ]:
df_ultimate_x = df_ultimate.append([df_ultimate_sum], ignore_index=True)

In [ ]:
df_ultimate_x

Clean up the columns **Properties, Symbol, Biomass range** in newly appended row in df_ultimate_x by selecting by label the new row (index=5) and columns ['Properties','Symbol','Biomass range'] then assign np.nan (Not a Number)

In [ ]:
df_ultimate_x.loc[5,['Properties','Symbol','Biomass range']] = np.nan

In [ ]:
df_ultimate_x

The columns **Properties [0], Symbol [1], Biomass range [5]** for df_ultimate_x could be selected by position and assign a blank text 'T'.

In [ ]:
df_ultimate_x.iloc[-1,[0,1,5]] = 'T'

In [ ]:
df_ultimate_x

### Find the Records using boolean index

Let us index and extra the most significant columns **I. clindrica, Switchgrass and Miscanthus**

In [ ]:
df_ultimate_sym_x = df_ultimate_x.set_index('Symbol')

In [ ]:
df_ultimate_sym_x

In [ ]:
df_ultimate_sym_w = df_ultimate_sym_x[['I. cylindrica', 'Switchgrass', 'Miscanthus']]

In [ ]:
df_ultimate_sym_w

Find the rows in column (Switchgrass) that are less than 10

In [ ]:
df_ultimate_sym_w[df_ultimate_sym_w['Switchgrass'] < 10]

Find the rows in column (Switchgrass >10) and (Miscanthus > 0.15)

In [ ]:
df_ultimate_sym_w[(df_ultimate_sym_w['Switchgrass'] < 10) & (df_ultimate_sym_w['Miscanthus'] > 0.15)]

Find the data that are less than 10

In [ ]:
df_ultimate_sym_w[df_ultimate_sym_w < 10]

Find the data that are greater than 43.20

In [ ]:
df_ultimate_sym_w[df_ultimate_sym_w > 43.20]

In [ ]:
df_ultimate_sym_w[df_ultimate_sym_w > 43.20].plot.bar()

Find the data that are greater than 100 or less than 0.2

In [ ]:
df_ultimate_sym_w[(df_ultimate_sym_w > 100) | (df_ultimate_sym_w < 0.2)]

### Normalize Data

As observed the Total of each Biomass or column shouldbe hundred. We will normalized the elemental value.

In [ ]:
df_ultimate_sym_w

Normal or Linear Equation

> xnew = xold / x_total * 100

In [ ]:
df_ultimate_sym_norm = df_ultimate_sym_w[0:-1] / df_ultimate_sym_w.iloc[-1] * 100

In [ ]:
df_ultimate_sym_norm

In [ ]:
df_ultimate_sym_norm.sum()

In [ ]:
df_ultimate_sym_norm.sum().plot.bar()

### Find the mean

In [ ]:
df_ultimate_sym_norm.mean()

In [ ]:
df_ultimate_sym_norm.mean().plot.bar()

In [ ]:
df_ultimate_sym_norm.mean(axis=1)

In [ ]:
df_ultimate_sym_norm.mean(axis=1).plot.bar()

In [ ]:
df_ultimate_sym_norm.std()

In [ ]:
df_ultimate_sym_norm.std().plot.bar()

In [ ]:
df_ultimate_sym_norm.std(axis=1)

In [ ]:
df_ultimate_sym_norm.std(axis=1).plot.bar()

## Data Visualization

There are many charts that can be used to represent data in the *matplotlib* package. The *pandas* DataFrame class work seamlessly with the *pyplot* module to plot different kind of charts such as **Line, Bar, Pie, hist, scatter, box and density**. Please take time to explore each chart.

Displaying the DataFrame variable *(df_ultimate_sym_norm)* value.

In [ ]:
df_ultimate_sym_norm

### Line

In [ ]:
df_ultimate_sym_norm.plot.line()

In [ ]:
df_ultimate_sym_norm.plot.line(subplots=True,figsize=(6,15))

### Bar

In [ ]:
ax = df_ultimate_sym_norm.plot.bar()
ax.set_xlabel('x label')  # Add an x-label to the axes.
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

In [ ]:
df_ultimate_sym_norm.plot.bar(subplots=True,figsize=(6,15), title='Ultimate Analysis')

### Horizontal Bar

In [ ]:
df_ultimate_sym_norm.plot.barh()

### Histogram

In [ ]:
df_ultimate_sym_norm.plot.hist()

In [ ]:
df_ultimate_sym_norm.plot.hist()

### Box

In [ ]:
df_ultimate_sym_norm.plot.box()

### KDE (Density)

In [ ]:
df_ultimate_sym_norm.plot.kde()

### Area

In [ ]:
df_ultimate_sym_norm.plot.area()

### Pie

In [ ]:
df_ultimate_sym_norm.reindex(['C','H','N','O','S']).plot.pie(subplots=True, figsize=(15,6))

In [ ]:
df_ultimate_sym_norm['I. cylindrica'].reindex(['C','H','N','O','S']).plot.pie()

### Scatter

In [ ]:
df_ultimate_sym_norm.plot.scatter(x='Switchgrass', y='Miscanthus')

In [ ]:
df_ultimate_sym_norm.plot.scatter(x='Switchgrass', y='Miscanthus',c='I. cylindrica', colormap='viridis')

### Save Chart

In [ ]:
ax = df_ultimate_sym_norm.plot.bar()
ax.set_xlabel('Element')  # Add an x-label to the axes.
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.01, 1), loc='best', borderaxespad=0.)
# ax.legend()

fig = ax.get_figure()
fname = 'bar.svg'
fig.savefig(fname, format="svg", bbox_inches='tight')
fname = 'bar.png'
fig.savefig(fname, format="png", bbox_inches='tight')
fname = 'bar.pdf'
fig.savefig(fname, format="pdf", bbox_inches='tight')

## Putting All Together

We started out with three (3) data files: **Ultimate Analysis, Proximate Analysis and Calorific** all saved in *ultimate.csv, proximate.csv and calorific.csv* respectively.

In order to analysis the data we will follow the algorithm below:
    
    1. Load the three (3) files into DataFrame variables *(df_ultimate, df_proximate and df_calorific)*.
    2. Normalize the values where neccessary.
    3. Plot the values for visual analysis.

### Load the data files

Import all the modules needed into your python file at the top. For most scientific analysis the basic modules are numpy, pandas and pyplot.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

After importing pandas as variable name *pd*. *pd* can be used to call other function in its module. For example reading (or loading) the csv files into *DataFrame* variable. It can also read other file format such as excel, text etc.

In [ ]:
df_ultimate = pd.read_csv('ultimate.csv')
df_proximate = pd.read_csv('proximate.csv')
df_calorific = pd.read_csv('calorific.csv')

#### Display Data

Lets verify the loaded data.

In [ ]:
df_ultimate

In [ ]:
df_proximate

In [ ]:
df_calorific

Alternatively in python file.

In [ ]:
print(df_ultimate)
print(df_proximate)
print(df_calorific)

#### Reindex with Symbol

In [ ]:
df_ultimate_sym = df_ultimate.set_index('Symbol')
df_proximate_sym = df_proximate.set_index('Symbol')
df_calorific_sym = df_calorific.set_index('Symbol')

In [ ]:
df_ultimate_sym

In [ ]:
df_proximate_sym

In [ ]:
df_calorific_sym

### Normalize Data

The **Ultimate** and **Proximate** analysis data are expected to be sum up to 100 for each samples.

Create a list of column label for the samples. This will come handing whenever we want to select our sample columns.

In [ ]:
col_list = ['I. cylindrica', 'Switchgrass', 'Miscanthus']

#### For Ultimate

##### Find the sum

In [ ]:
df_ultimate_sum_by_col = df_ultimate_sym.sum()

In [ ]:
df_ultimate_sum_by_col

##### Verify if equal to 100

Select the sum values for **I. cylindrica, Switchgrass and Miscanthus**

In [ ]:
df_Equal_100 = df_ultimate_sum_by_col[col_list] == 100

In [ ]:
df_Equal_100

In [ ]:
if df_Equal_100.all() == True:
    print("All Equal 100")
else:
    print("All Not Equal 100. We Normalize")

In [ ]:
df_Num = df_ultimate_sym[col_list]

In [ ]:
df_Num

In [ ]:
df_Den = df_ultimate_sum_by_col[col_list]

In [ ]:
df_Den

In [ ]:
df_ultimate_norm = df_Num / df_Den * 100

In [ ]:
df_ultimate_norm

#### For Proximate

In [ ]:
df_proximate_sym

In [ ]:
df_proximate_sum_by_col = df_proximate_sym.sum()

In [ ]:
df_proximate_sum_by_col

In [ ]:
df_Equal_100 = df_proximate_sum_by_col[col_list] == 100.0

In [ ]:
df_Equal_100

In [ ]:
if df_Equal_100.all() == True:
    print("All Equal 100")
else:
    print("All Not Equal 100. We Normalize")
    df_Num = df_proximate_sym[col_list]
    df_Def = df_proximate_sum_by_col[col_list]
    df_proximate_norm = df_Num / df_Den * 100.0

In [ ]:
df_proximate_norm

#### For Calorific

In [ ]:
df_calorific_sym

In [ ]:
df_calorific_norm = df_calorific_sym[col_list]

In [ ]:
df_calorific_norm

### Plot the data

Visualizing the data for each sample and comparing between the three samples. The data in each sample i.e the Utimate analysis, Proximate analaysis and Calorific value a discrete. The best visual chart for discrete data is Bar or Pie chart.

#### For Ultimate

Representing the ultimate analysis with bar chart.

In [ ]:
df_ultimate_norm

In [ ]:
ax = df_ultimate_norm.plot.bar()
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

Hydrogen, Nitrogen and Sulphur can be plotted to display the Sulphur value clearly.

In [ ]:
df_ultimate_HNS = df_ultimate_norm.loc[['H','N','S']]

In [ ]:
df_ultimate_HNS

In [ ]:
ax = df_ultimate_HNS.plot.bar()
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

Checking further for Nitrogen and Sulphur, just because we can.

In [ ]:
ax = df_ultimate_HNS.loc[['N','S']].plot.bar()
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

Plotting bar chart for each sample.

In [ ]:
ax = df_ultimate_norm['I. cylindrica'].plot.bar()
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

In [ ]:
ax = df_ultimate_norm['Switchgrass'].plot.bar(color='tab:orange')
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

In [ ]:
ax = df_ultimate_norm['Miscanthus'].plot.bar(color='tab:green')
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Ultimate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

#### For Proximate

Representing the proximate analysis with bar chart.

In [ ]:
df_proximate_norm

In [ ]:
ax = df_proximate_norm.plot.bar()
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Proximate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

If you are into grid in your bar chart.

In [ ]:
ax = df_proximate_norm.plot.bar()
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Proximate Analysis")  # Add a title to the axes.
ax.grid()
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

Plotting bar chart for each sample.

In [ ]:
ax = df_proximate_norm['I. cylindrica'].plot.bar()
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Proximate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

In [ ]:
ax = df_proximate_norm['Switchgrass'].plot.bar(color='tab:orange')
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Proximate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

In [ ]:
ax = df_proximate_norm['Miscanthus'].plot.bar(color='tab:green')
ax.set_ylabel('Weight (%)')  # Add a y-label to the axes.
ax.set_title("Proximate Analysis")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

#### For Calorific

Representing the calorific with bar chart.

In [ ]:
df_calorific_norm

In [ ]:
ax = df_calorific_norm.plot.bar()
ax.set_ylabel('KJ / wt')  # Add a y-label to the axes.
ax.set_title("Calorific")  # Add a title to the axes.
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)